{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Tendhang</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<div class="bg-yellow-50 w-full pt-16 min-h-screen">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
    
    <div class="w-full text-cyan-700 py-20 sm:py-16 px-6 text-center">
      <h1 class="text-5xl lg:text-6xl font-extrabold mb-4">
        Where Kickers Find Their Gear
      </h1>
      <p class="text-base sm:text-lg lg:text-xl max-w-2xl mx-auto">
        Kick Better with the Right Gear
      </p>
    </div>
    
    <!-- Filter Section -->
<div class="flex flex-col items-center mb-8 p-4">
  <div class="flex space-x-8">
    <a href="?" 
       class="{% if request.GET.filter == 'all' or not request.GET.filter and not request.GET.category %} bg-cyan-600 text-white {% else %} bg-white text-gray-700 border border-gray-300 {% endif %} px-6 py-2 rounded-full font-medium transition-colors hover:bg-cyan-600 hover:text-white">
      All Product
    </a>
    <a href="?filter=my" 
       class="{% if request.GET.filter == 'my' %} bg-cyan-600 text-white {% else %} bg-white text-gray-700 border border-gray-300 {% endif %} px-6 py-2 rounded-full font-medium transition-colors hover:bg-cyan-600 hover:text-white">
      My Product
    </a>
  </div>
</div>


    {% if not product_list %}
      <div class="bg-white rounded-lg border border-gray-200 p-12 text-center">
        <div class="w-32 h-32 mx-auto mb-4">
          <img src="{% static 'image/no-product.png' %}" alt="No news available" class="w-full h-full object-contain">
        </div>
        <h3 class="text-lg font-medium text-gray-900 mb-2">No product found</h3>
        <p class="text-gray-500 mb-6">Be the first to sell your product here.</p>
        <a href="{% url 'main:add_product' %}" class="inline-flex items-center px-4 py-2 bg-cyan-600 text-white rounded-md hover:bg-cyan-700 transition-colors">
          Add Product
        </a>
      </div>
    {% else %}
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12">
        {% for product in product_list %}
          {% include 'card_product.html' with product=product %}
        {% endfor %}
      </div>
    {% endif %}

    <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between mb-8 rounded-lg border border-gray-300 p-4 mt-12">
      {% if user.is_authenticated %}
        <div class="text-sm text-gray-700">
          Last login: {{ last_login }}
        </div>
      {% endif %}
    </div>

  </div>
</div>
{% endblock content %}